<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/">{{ 'HOME' | translate }}</a></li>
    <li><a routerLink="/properties">{{ 'PROPERTIES' | translate }}</a></li>
  </ul>
  <div class="auth-buttons" *ngIf="!isLoggedIn; else loggedInTemplate">
    <button routerLink="/login" class="btn btn-primary">{{ 'SIGN_IN' | translate }}</button>
    <button routerLink="/register" class="btn btn-secondary">{{ 'JOIN' | translate }}</button>
  </div>
  <ng-template #loggedInTemplate>
    <div class="auth-buttons">
      <button routerLink="/advertise" class="btn btn-primary">{{ 'ADVERTISE' | translate }}</button>
      <div class="dropdown">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
          <span class="material-symbols-outlined">
            person
            </span>
        </button>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <button routerLink="/my-adverts" class="dropdown-item" (click)="closeDropdown()">{{ 'MY_ADVERTS' | translate }}</button>
          <button (click)="logOut(); closeDropdown()" class="dropdown-item">{{ 'LOG_OUT' | translate }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</nav>
