@import '../../../../variables.scss';

$navbar-bg-color: #f8f9fa;
$link-color: #000;
$link-hover-color: darken(#7491b0, 10%);


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $navbar-bg-color;

  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

    a {
      text-decoration: none;
      color: $link-color;
      font-size: 1.05rem;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .auth-buttons {
    display: flex;
    gap: 10px;

    .btn {
      padding: 5px 15px;
      font-size: 1.05rem;

      &.btn-primary {
        background-color: $btn-primary-bg-color;
        color: white;

        &:hover {
          background-color: $btn-primary-hover-bg-color;
        }
      }

      &.btn-secondary {
        background-color: $btn-secondary-bg-color;
        color: white;

        &:hover {
          background-color: $btn-secondary-hover-bg-color;
        }
      }
    }
  }

  .dropdown {
    position: relative;

    .material-symbols-outlined {
      font-size: 30px;
    }
    
    .dropdown-toggle {
      display: flex;
      align-items: center;
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
  
    .dropdown-menu {
      position: absolute;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 1000;
      margin-top: 10px;
      width: 110px;
  
      .dropdown-item {
        display: block;
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        color: $link-color;
        cursor: pointer;
        border: solid 1px #ccc;
  
        &:hover {
          background-color: $btn-primary-hover-bg-color;
          color: white;
        }
      }
    }
  }  
}
