<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/properties">Properties</a></li>
  </ul>
  <div class="auth-buttons" *ngIf="!isLoggedIn; else loggedInTemplate">
    <button routerLink="/login" class="btn btn-primary">Sign In</button>
    <button routerLink="/register" class="btn btn-secondary">Join</button>
  </div>
  <ng-template #loggedInTemplate>
    <div class="dropdown">
      <button class="dropdown-toggle" (click)="toggleDropdown()">
        <span class="material-symbols-outlined">
          person
          </span>
      </button>
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <button routerLink="/my-adverts" class="dropdown-item">My Adverts</button>
        <button (click)="logOut()" class="dropdown-item">Log Out</button>
      </div>
    </div>
  </ng-template>
</nav>
