<div class="register-container">
    <h2 class="register-title">{{ 'REGISTER' | translate }}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" [placeholder]="'ENTER_YOUR_EMAIL' | translate">
        <div *ngIf="(submitted && email?.invalid) || (email?.touched)" class="error">
          <small *ngIf="email?.errors?.['required']">{{ 'EMAIL_IS_REQUIRED' | translate }}</small>
          <small *ngIf="email?.errors?.['email']">{{ 'INVALID_EMAIL_FORMAT' | translate }}</small>
        </div>
      </div>
  
      <div>
        <label for="password">{{ 'PASSWORD' | translate }}:</label>
        <input id="password" formControlName="password" type="password" [placeholder]="'ENTER_YOUR_PASSWORD' | translate">
        <div *ngIf="(submitted && password?.invalid) || (password?.touched)" class="error">
          <small *ngIf="password?.errors?.['required']">{{ 'PASSWORD_IS_REQUIRED' | translate }}</small>
          <small *ngIf="password?.errors?.['minlength']">{{ 'PASSWORD_MUST_BE_AT_LEAST_6_CHARACTERS' | translate }}</small>
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">{{ 'CONFIRM_PASSWORD' | translate }}:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" [placeholder]="'CONFIRM_YOUR_PASSWORD' | translate">
        <div *ngIf="(submitted && confirmPassword?.invalid) || (confirmPassword?.touched)" class="error">
          <small *ngIf="confirmPassword?.errors?.['required']">{{ 'CONFIRMATION_IS_REQUIRED' | translate }} </small>
          <small *ngIf="registerForm.errors?.['mismatch']">{{ 'PASSWORDS_DO_NOT_MATCH' | translate }}</small>
        </div>
      </div>
  
      <button type="submit">{{ 'REGISTER' | translate }}</button>
  
      <div *ngIf="registrationFailed" class="error">
        <small>{{ errorMessage }}</small>
      </div>
  
      <div class="registration-link">
        <span>{{ 'ALREADY_HAVE_AN_ACCOUNT' | translate }} </span>
        <a routerLink="/login">{{ 'SIGN_IN_HERE' | translate }}</a>
      </div>
    </form>
</div>

