<div class="login-container">
    <h2 class="login-title">Sign In</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email">
        <div *ngIf="(submitted && email?.invalid) || (email?.touched)" class="error">
          <small *ngIf="email?.errors?.['required']">Email is required.</small>
          <small *ngIf="email?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your password">
        <div *ngIf="(submitted && password?.invalid) || (password?.touched)" class="error">
          <small *ngIf="password?.errors?.['required']">Password is required.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
  
      <div *ngIf="loginFailed" class="error">
        <small>{{ errorMessage }}</small>
      </div>
  
      <div class="registration-link">
        <span>Don't have an account? </span>
        <a routerLink="/register">Join here</a>
      </div>
    </form>
</div>
  