<div class="search-bar">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="row">
      <div>
        <select formControlName="propertyType">
          <option value="" disabled>{{ 'SELECT_PROPERTY_TYPE' | translate }}</option>
          <option *ngFor="let type of propertyTypes" [value]="type">
            {{ getPropertyTypeTranslation(type) }}
          </option>
        </select>
      </div>

      <div class="location-input">
        <input type="text" id="location" formControlName="location" [placeholder]="'LOCATION' | translate" />
      </div>
    </div>

    <div class="row second">
      <div class="price">
        <input type="number" formControlName="minPrice" [placeholder]="'Min. ' + ('PRICE' | translate)" />
        <input type="number" formControlName="maxPrice" [placeholder]="'Max. ' + ('PRICE' | translate)" />
        <select id="currency" formControlName="currency" class="currency">
          <option value="USD">USD</option>
          <option value="PLN">PLN</option>
        </select>
      </div>

      <div class="area">
        <input type="number" formControlName="minArea" [placeholder]="'Min. ' + ('AREA' | translate) + ' (m²)'" />
        <input type="number" formControlName="maxArea" [placeholder]="'Max. ' + ('AREA' | translate) + ' (m²)'" />
      </div>
    </div>

    <div class="button-container"> 
      <button type="submit">{{ 'SEARCH' | translate }}</button>
    </div>
  </form>
</div>
