<div class="search-bar">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="row">
      <div>
        <select formControlName="transactionType">
          <option value="" disabled>Select Transaction Type</option>
          <option *ngFor="let type of transactionTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div>
        <select formControlName="propertyType">
          <option value="" disabled>Select Property Type</option>
          <option *ngFor="let type of propertyTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="location-input">
        <input type="text" id="location" formControlName="location" placeholder="Enter location" />
      </div>
    </div>

    <div class="row">
      <input type="number" formControlName="minPrice" placeholder="Min Price" />
      <input type="number" formControlName="maxPrice" placeholder="Max Price" />

      <input type="number" formControlName="minArea" placeholder="Min Area (m²)" />
      <input type="number" formControlName="maxArea" placeholder="Max Area (m²)" />
    </div>

    <div class="button-container"> 
      <button type="submit">Search</button>
    </div>
  </form>
</div>
