@import '../../../../../variables.scss';

.my-adverts {
  width: 50%;
  margin: auto;

  h2 {
    margin-bottom: 20px;
  }

  .notFound {
    color: #666;
    text-align: center; 
  }

  .advert-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;

    h3 {
      margin: 0 0 10px;
    }

    .btn {
      padding: 3px 8px;
      margin-top: 10px;  
      margin-right: 5px;

      &.btn-primary {
        background-color: $btn-primary-bg-color;
        color: white;
        width: 60px;

        &:hover {
          background-color: $btn-primary-hover-bg-color;
        }
      }

      &.btn-secondary {
        background-color: $btn-secondary-bg-color;
        color: white;
        width: 125px;

        &:hover {
          background-color: $btn-secondary-hover-bg-color;
        }
      }

      &.btn-delete {
        background-color: rgb(212, 94, 94);
        color: white;
        width: 60px;

        &:hover {
          background-color: rgb(156, 64, 64);
        }
      }
    }
  }
}
