<div class="my-adverts">
  <h2>{{ 'MY_ADVERTS' | translate }}</h2>
  <div *ngIf="notFoundMessage" class="notFound">{{ notFoundMessage }}</div>
  <div *ngFor="let property of properties" class="advert-item" [routerLink]="['/properties', property.id]">
    <h3>{{ property.title }}</h3>
    <p>{{ 'LOCATION' | translate }}: {{ property.address }}</p>
    <p>{{ 'AREA' | translate }}: {{ property.area }} m²</p>
    <p>{{ 'PRICE' | translate }}: {{ property.priceAmount | currency: property.currency }}</p>

    <div>
      <button (click)="navigateToEditProperty(property.id)" class="btn btn-primary">{{ 'EDIT' | translate }}</button>
      <button (click)="navigateToDeleteProperty(property, $event)" class="btn btn-delete">{{ 'DELETE' | translate }}</button>
    </div>
    <button (click)="navigateToViewInquiries(property.id)" class="btn btn-secondary">{{ 'VIEW_INQUIRIES' | translate }}</button>
  </div>
</div>
